<%- include('./includes/head.ejs') %>
    
  
    <link rel="stylesheet" href="/css/admin-login.css">
  </head>
  <body>
    <div class="container">
      <h1>Admin Login</h1>
      <form action="/admin/login" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
