<%- include('./includes/head.ejs') %>


<link rel="stylesheet" href="/css/feedbacks.css">
<title>Document</title>
  </head>
  <body>
    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
    <div class="container">
      <h1>Feedback List</h1>
      <div class="feedback-cards">
        <% for(let i=0 ; i < feedbacks.length ; i++){ %>
            <div class="feedback-card">
                <h2 class="feedback-card-title"> <%= feedbacks[i].name %>  </h2>
                <h2 class="feedback-card-email"><%= feedbacks[i].email %></h2>
                <h2 class="feedback-card-message"><%= feedbacks[i].feedback %></h2>
            </div>
        <%}%>
      </div>
    </div>  
  </body>
</html>
