<%- include('./includes/head.ejs') %>

    <link rel="stylesheet" href="/css/feedback.css">
  </head>
  <body>
    <a href="/admin">Admin Login</a>
    <div class="form-container">
      <form action="/feedback" method="post">
        <h1>Give Your Feedback</h1>
        <input type="text" name="name" placeholder="Enter your name" />
        <input type="email" name="email" placeholder="Enter your email" />
        <textarea
          rows="8"
          name="feedback"
          placeholder="Enter your feedback"
        ></textarea>
        <input type="submit" value="Submit Feedback" />
      </form>
    </div>
  </body>
</html>
