body {
    font-family: 'Lato';
    text-align: center;
  }

  a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #888888;
    cursor: pointer;
  }

  .form-container {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  form {
    padding: 20px;
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 5px;
  }

  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 5px;
  }

  input[type='submit'] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: blue;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }